.ChangePassword {
  padding-top: 160px;
}

.changePasswordButton {
    margin-top: 5px;
    border-radius: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media all and (min-width: 480px) {
    .ChangePassword {
      padding: 160px;
    }
  
    .ChangePassword form {
      margin: 0 auto;
      max-width: 320px;
    }

    .changePasswordButton {
      display: block;
      margin:1em auto;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
  