.Signup {
    padding: 130px 0;
  }
  
.signUpButton {
    margin-top: 5px;
    border-radius: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media all and (min-width: 480px) {
    .Signup {
      padding: 160px 0;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }
  